*{
    margin: 0;
    padding: 0;
}
body{
    background-repeat: repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-around;
    height: 65px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: sticky;
    top: 0;
}
@keyframes headertransit {
    0%{
        background-color: rgb(0, 0, 0);
    }
    25%{
        background-color: rgb(215, 34, 18);
    }
    50%{
        background-color: rgb(136, 215, 18);
    }
    75%{
        background-color: rgb(18, 104, 203);
    }
}
nav, ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0vw 1.7vw;
    text-transform: uppercase;
    font-size: smaller;
}
header input{
    padding: 6px;
    width: 250px;
    border-radius: 2%;
}
.searchbar{
    display: flex;
}
#input1{
    border-radius: 10px;
}
.nav img{
    width: 40px;
    margin: auto; 
}
.searchbar img{
    display: inline-block;
    height: 23px;
    position: absolute;
    margin-left: 236px;
}
nav div{
    padding-left: 1vw;
    margin: auto 3vw;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5%;
}
main{
    min-height: 400px;
}

.sidebar ul{
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh;

}
.sidebar ul li{
    color: white;
    list-style: none;
    font-size: 3vh;
    display: flex;
    align-items: center;
    margin-left: -3vw;
    padding-top: -5vh;
}


.sidebar{
    padding-top: 5vh;
    border-bottom-right-radius: 10vw;
    min-width:17vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.579);
    position: fixed;
    top: 65px; left: 0px;
    display: none;
    align-items: center;
    animation: sidepop .6s cubic-bezier(.76,.01,.25,1.31);
}
.myimg img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 400px;
    border-radius: 50px;
}
.intro{
    display: flex;
    justify-content: center;
    height: 80vh;
}
.myintroduction{
    max-width: 350px;
    margin-right: 50px;
}
h2{
    margin-bottom: 1vh;
    font-size: 28px;
}
h4{
    color: rgba(90, 87, 87, 0.799);
}
.pictures button{
    background-size: cover;
    height: 40px;
    width: 95px;
    border-radius: 3vh;
    margin-left: 10px;
}

footer{
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 120px;
    clear: both;
}
footer div{
    color: white;
    margin-top: 40px;
}

a:hover{
    color: chartreuse;
}
.sidebar ul li img{
    width: 4vh;
    margin: 0vw 1.3vw;
}
.social{
    background-color: black;
    border: none;
}
.headanim{
    animation: headertransit 25s ease-in-out;
    animation-iteration-count: infinite;
}
@media screen and (orientation: portrait), (max-width: 700px) {
    header {
      background-color: black;
      height: 110px;
      display: grid;
 
    }
    .searchbar{
        margin: auto auto;
    }
    .sidebar ul li{
        margin-left: 3vw;
        padding-top: -5vh;
    }
    .sidebar{
        top: 110px;;
    }
    .intro{
        margin-top: 10vh;
        display: grid;
    }
    .myimg{
        margin: 5vh auto;
    }
    main{
        min-height: 750px;
        min-width: 300px;
        margin-bottom: 15vh;
    }
    .myintroduction h4{
        color: rgba(0, 0, 0, 0.545);
    }
    .myintroduction{
        margin-right: 0px;
    }
  }

  @keyframes sidepop {
      0%{
          left: -250px;
          border-bottom-right-radius: 5vw;
      }
      100%{
          left: 0px;
          border-bottom-right-radius: 10vw;
      }
  }
  .images{
    height: 380px;
    width: 285px;
    display: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #1a19198f;
    position: absolute;
    bottom: 120px;
    left: 40vw;
    border-radius: 30px;
  }
  .images img{
    height: 270px;
    border-radius: 20px;
  }

@keyframes slide1 {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(250px);
    }
    100%{
        transform: translateX(500px);
    } 
}
@keyframes slide2 {
    0%{
        transform: translateX(-300px);
    }
    50%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(200px);
    } 
}
@keyframes slide3 {
    0%{
        transform: translateX(-900px);
    }
    50%{
        transform: translateX(-450px);
    }
    100%{
        transform: translateX(-205px);
    } 
}
.d1{
    animation: slide1 8s forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.d2{
    animation: slide2 8s forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.d3{
    animation: slide3 8s forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
#exit{
    background-color: #0f59eb91;
    color: #ffffffb5;
    padding: 3px;
    height: 22px;
    top: -160px;
    left: 420px;
    position: relative;
}